---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { dateFormatter } from "../../utils/dateFormatter";
import Tags from "../../components/Tags.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout>
  <a 
    href="/articles" 
    class="w-fit flex gap-1 items-center bg-gray-100 p-2 pr-4 mb-6 hover:bg-indigo-500 hover:text-white rounded-md transition-colors duration-200 border border-gray-200"
  >
    <Icon name="mdi:arrow-left" size={16} />
    Back to Articles
  </a>
  <article>
    <h1 class="text-4xl font-bold mb-2">{entry.data.title}</h1>
    <h3 class="text-lg mb-2">Written by {entry.data.author} on {dateFormatter(entry.data.pubDate)}</h3>
    <Tags tags={entry.data.tags} /> 
    <img src={"/images/" + entry.data.image} alt="Article Image" class="w-full h-auto rounded-xl my-6" />
    <Content />
  </article>
</MainLayout>

<style is:global>
  p {
    margin: 1.25rem 0;
    text-align: justify;
  }

  h2 {
    margin: 1.25rem 0;
    font-size: 1.6rem;
  }
</style>