---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalizer } from "../utils/capitalizer";
import type { InferEntrySchema } from "astro:content";

interface ArticleProps {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: InferEntrySchema<"blog">;
}

const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");

const tags: string[] = allBlogArticles.flatMap(
  (article: ArticleProps) => article.data.tags
);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer class="bg-indigo-900 text-white sm:pb-10">
  <div class="container mx-auto mt-10 max-w-screen-xl px-8">
    <div class="grid grid-cols-1 gap-4 sm:gap-12 sm:grid-cols-2 lg:grid-cols-4">
      <div class="mt-10">
        <h3 class="text-xl font-bold mb-4">About</h3>
        <p class="text-sm text-gray-300/80 text-justify">
          TechPeople is a blog for tech enthusiasts. This is where I publish articles,
          stories and tutorials about the latest technology trends and
          advancements in Web Development, Cloud Computing, AI and much more.
        </p>
      </div>
      <div class="mt-4 sm:mt-10">
        <h3 class="text-xl font-bold mb-4">Categories</h3>
        <ul class="text-sm text-gray-300/80">
          {uniqueTags.map(tag => (
            <li class="mb-2">
              <a 
                href={"/articles/tag/" + tag}
                class='hover:text-white transition-colors duration-150'
              >
                {capitalizer(tag)}
              </a>
            </li>
          ))}
        </ul>
      </div>
      <div class="mt-4 sm:mt-10">
        <h3 class="text-xl font-bold mb-4">Our Partners</h3>
        <ul class="text-sm text-gray-300/80">
          <li class="mb-2">
            <a 
              href="https://www.samsung.com" 
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
            Samsung
          </a>
          </li>
          <li class="mb-2">
            <a 
            href="https://www.apple.com" 
            target='_blank'
            class='hover:text-white transition-colors duration-150'
          >
            Apple
          </a>
          </li>
          <li class="mb-2">
            <a 
              href="https://www.huawei.com" 
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
              Huawei
            </a>
          </li>
          <li class="mb-2">
            <a 
              href="https://www.microsoft.com" 
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
              Microsoft
            </a>
          </li>
          <li class="mb-2">
            <a 
              href="https://www.google.com" 
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
              Google
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-4 sm:mt-10 my-16 sm:my-8">
        <h3 class="text-xl font-bold mb-4">Contact</h3>
        <ul class="text-sm text-gray-300/80">
          <li class="mb-2">
            <a 
              href="#"
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
              Email
            </a>
          </li>
          <li class="mb-2">
            <a 
              href="#"
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
              Twitter
            </a>
          </li>
          <li class="mb-2">
            <a 
              href="#"
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
              Facebook
            </a>
          </li>
          <li class="mb-2">
            <a 
              href="#"
              target='_blank'
              class='hover:text-white transition-colors duration-150'
            >
              Instagram
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>